<h1>Topics Yo!</h1>
<br />

<% @topics.each do |topic| %>
  <ul>
    <li><%= link_to topic.name, topic %> (<%= topic.references.count %>)</li>
    <!--<td><%= link_to 'Edit', edit_topic_path(topic) %></td>-->
    <!--<td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </ul>
<% end -%>

<br />

<%= link_to 'New Topic', new_topic_path %>
